body {
  font-family: 'Cabin', sans-serif;   /* first specifies primary, specify backup*/
  margin: 0;
}

h1 {
  color    : #1b0447;
  font-size: 50px;
  font-weight: normal;
  margin-bottom: 0;
}

h2 {
  color    : #1b0447;
  font-size: 18px;
  margin-top: 0;
}

h3 {
  text-align: center;
  font-size: 28px;
  font-weight: normal;
  margin-top: 100px;
}

.full-width {
  width: 100%;
}

.yellow {
  border-top: 5px double #F5A623;
  width: 250px;
}

.box {
  float: left;

  width: 42.5%;
  margin-left: 5%;
  margin-top: 80px;
}

h4 {
  text-align: center;
  font-size: 24px;
}

p {
  text-align: center;
}

.clear {
  clear: both;
}

.bio {
  color    : #6413b5;
  font-size: 20px;
}

.cris {
  width           : 150px;
  height          : 150px;
  border-radius   : 100%;
  object-fit      : cover;
  overflow        : hidden;
  object-position : 0 0;
  border-style    : solid;
  border-color    : #2f633a;
  margin-top      : 40px;
}

.about-container{
  background: url('images/more_caffeine.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;
}
.about {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

.grey {
  height: 3px;
  background-color: #b3b2b7;
  border: none;
  width: 50px;
}

.skills-and-tools {
  max-width: 400px;
  margin: 40px auto;
}

.icons {
  text-align: center;
}

.icon {
  margin: 30px 0;
}
