body {

  font-family: 'Cabin', sans-serif;   /* first specifies primary, specify backup*/
}

h1 {
  color    : #1b0447;
  font-size: 50px;
  font-weight: normal;
  margin-bottom: 0;
}

h2 {
  color    : #1b0447;
  font-size: 18px;
  margin-top: 0;
}

.bio {
  color    : #6413b5;
  font-size: 20px;
}

.cris {
  width           : 150px;
  height          : 150px;
  border-radius   : 100%;
  object-fit      : cover;
  overflow        : hidden;
  object-position : 0 0;
  border-style    : solid;
  border-color    : #2f633a;
  margin-top      : 40px;
}

.about-container{
  background: url('images/more_caffeine.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;
}
.about {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

.grey {
  height: 3px;
  background-color: #b3b2b7;
  border: none;
  width: 50px;
}
